<div class="dock">
    <center>
        <ul>
            <li><a href="#" title="Link"><img src="img/Dock/calendar.png"/></a></li>
            <li><a href="#" title="Link"><img src="img/Dock/audio.png"/></a></li>
            <li><a href="#" title="Link"><img src="img/Dock/video.png"/></a></li>
            <li><a href="#" title="Link"><img src="img/Dock/images.png"/></a></li>
            <li><a href="#" title="Link"><img src="img/Dock/mail.png"/></a></li>
        </ul>
    </center>
</div>