<div id="menu">
    <ul>
        <li><a href="#">Common Workspace</a></li>
        <li><a href="#">My Workspace</a></li>
        <li><a href="#"><img src="{BASE}/img/add.svg"/>Add New</a></li>
    </ul>

    <span class="right">
        <img src="{BASE}/img/upload.svg"/>
        <img src="{BASE}/img/grid.svg"/>
        <img src="{BASE}/img/sort.svg"/>
        <img src="{BASE}/img/menu.svg"/>
      </span>
</div>

<div id="secondary">
    <img src="{BASE}/img/back.svg"/>
    <img src="{BASE}/img/forward.svg"/>
    <img src="{BASE}/img/dropdown.svg" class="drop"/>
</div>

<table class="workspace">
    <tr>
        <td><img src="{BASE}/img/folder.png" alt="folder"/><br/>testing</td>
        <td><img src="{BASE}/img/folder.png" alt="folder"/><br/>testing</td>
    </tr>
</table>