<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{TITLE}</title>
    <meta name="description" content="{DESCRIPTION}">
    <meta name="author" content="{AUTHOR}">

    <!-- Bootstrap Style -->
    <link href="{BASE}/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="{BASE}/bootstrap/bootstrap-theme.css" rel="stylesheet">
    <link href="{BASE}/bootstrap/bootstrap-theme.css" rel="stylesheet">
    <!-- Stark Style -->
    <link href="{BASE}/css/main.css" rel="stylesheet">
    <link href="{BASE}/css/workspace.css" rel="stylesheet">
</head>
<body>
    <!-- Start Header -->
    {HEADER}
    <!-- End Header -->
    <!-- Start Body -->
    {BODY}
    <!-- End Body -->
    {FOOTER}
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{BASE}/js/jquery-3.1.0.min.js"></script>
    <script src="{BASE}/js/bootstrap.min.js"></script>
</body>
</html>
