<div class="top">

    <!-- Start Column -->
    <div class="col-md-6">
        <!-- Username -->
        <div class="item">
            <img src="{User_Avatar}" class="profile"><p>{User_Name}</p></img>
        </div>
        <!-- End Username -->

        <!-- Windows -->
        <div class="item">
            <img src="/img/Top/Windows.svg" class="icon"><p>Windows</p></img>
        </div>
        <!-- End Windows -->

        <!-- Broadcast -->
        <div class="item">
            <img src="/img/Top/Broadcast.svg" class="icon"><p>Broadcast</p></img>
        </div>
        <!-- End Broadcast -->

        <!-- Notifications -->
        <div class="item">
            <img src="/img/Top/Notification.svg" class="icon"><p>Notifications</p></img>
        </div>
        <!-- End Notification -->

        <!-- Search -->
        <div class="item">
            <img src="/img/Top/Search.svg" class="icon"><p>Search</p></img>
        </div>
        <!-- End Search -->

    </div>
    <!-- End Top -->

    <!-- Start Column -->
    <div class="col-md-4">
        <!-- Menu -->
        <div class="item">
            <img src="/img/Top/menu.svg" class="icon"><p>Menu</p></img>
        </div>
        <!-- End Column -->
    </div>

    <!-- End Row -->
</div>